h2 {
    background-color: #666666;
    color: #fff;
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.inner-popup {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    width: 90%;
    border-radius: 30px;
}

button {
    background-color: #CD5334;
    color: #fff;
    margin-top: 15px;
}