<section>
    <h2 class="p-3"><i class="fas fa-blog mr-2"></i>Blogs</h2>
    <!-- <button class="btn" (click)="auth.signIn()">signIn</button>
    <button *ngIf="auth.auth.authState | async as user;" class="btn" (click)="auth.signOut()">signOut</button>
    {{ user }} -->
    <div class="px-3 heading">
        <div class="d-flex" *ngIf="auth.auth.authState | async as user;">
            <h4 class="flex-grow-1">Hi, {{ user.displayName || user.email }}</h4>
            <span class="btn" routerLink="/dashboard">Write a Post</span>
        </div>
    </div>
    <div class="card-deck mt-4 p-2">
        <div class="card shadow bg-white rounded" *ngFor="let post of posts | async;">
            <!-- <img [src]="item.image" alt="Card image cap" class="card-img top"> -->
            <img src="{{ post.image }}" class="card-img-top" routerLink="{{ post.id }}">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title flex-grow-1">{{ post.title }}</h5>
                <!-- <p class="card-text">{{ post.body }}</p> -->
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer"><cite title="Source Title">{{ post.author }} <br> {{ post.published.toDate() | date }}</cite></footer>
                </blockquote>
                <div class="d-flex flex-row" *ngIf="user == post.authorId">
                    <div class="flex-grow-1"></div>
                    <i class="fas fa-trash-alt m-2" (click)="deletePost(post.id)"></i>
                    <!-- <i class="fas fa-edit m-2"></i> -->
                </div>
            </div>
        </div>
    </div>
</section>


<!-- OLD BELOW -->

<!-- <section>
    <h2 class="p-3"><i class="fas fa-blog mr-2"></i>Blogs</h2>
    <div class="blogs">
        <h4 *ngIf="blogs.length == 0">No Blogs to display...</h4>
        <div class="card-deck flex-wrap p-2" *ngIf="blogs.length > 0">
            <div class="spinner-border text-warning" role="status" *ngIf="isLoading">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="card shadow p-3 bg-white rounded" *ngFor="let item of blogs; let i = index;">
                <img [src]="item.image" alt="Card image cap" class="card-img top">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.info }}</p>
                    <div [innerHTML]="item.body"></div?>
                    <button class="btn" [routerLink]="['/post', {body: item.body, title: item.title}]">More</button>
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer"><cite title="Source Title">{{ item.author }}</cite></footer>
                      </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="popup d-flex justify-content-center align-items-center" *ngIf="popup">
        <div class="inner-popup p-3">
            <h3>Currently in-dev.</h3>
            <button class="btn" (click)="closePopup()">Close</button>
        </div>
    </div>
</section> -->
