h2 {
    background-color: #666666;
    color: #fff;
}

.heading {
    max-width: 700px;
    margin: 0px auto;
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.inner-popup {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    width: 90%;
    max-width: 400px;
    border-radius: 30px;
}

img:hover {
    cursor: pointer;
}

button {
    background-color: #CD5334;
    color: #fff;
    margin-top: 15px;
}

.cards-container {
    height: 100%;
}

.card-deck {
    width: 100%;
    justify-content: center;
}

.card {
    width: 100%;
}

.right {
    float: right;
    margin-right: 20px;
}

span {
    background-color: #CD5334;
    color: #fff;
}


@media only screen and (min-width: 768px) {
    .card {
        max-width: 250px;
    }
}