.todo-container {
    min-height: 680px;
}

.form-container {
    max-width: 400px;
    margin: 0px auto;
}

h2 {
    background-color: #666666;
    color: #fff;
}

button {
    background-color: #CD5334;
    color: #fff;
    margin-top: 15px;
}

.todo-groups-container {
    max-width: 500px;
    margin: 0px auto;
}

.popup-bottom-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    width: 100%;
    top: 65px;
}

.popup-bottom-container i {
    font-size: 20px;
}

.group span:hover {
    cursor: pointer;
}

.far:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .todo-container {
        min-height: 880px;
    }

    .popup-bottom-container {
        max-width: 400px;
        right: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .todo-container {
        min-height: 1220px;
    }
}