.form-container {
    max-width: 400px;
    margin: 0px auto;
}

h2 {
    background-color: #666666;
    color: #fff;
}

button {
    background-color: #CD5334;
    color: #fff;
    margin-top: 15px;
}

.todo-groups-container {
    max-width: 500px;
    margin: 0px auto;
}

.popup-bottom-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%;
}

.popup-container i {
    font-size: 20px;
}

.group:hover {
    cursor: pointer;
}

.far:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    .popup-container {
        max-width: 400px;
    }
}