h2 {
    background-color: #666666;
    color: #fff;
    width: 100%;
}

button {
    background-color: #CD5334;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    form {
        max-width: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    .form-heading-container {
        width: 600px;
        margin: 0px auto;
    }

    section {
        height: 87vh;
    }
}
