.tutorial-heading-container {
    background-color: #666666;
    color: #fff;
}

/* .video-container {
    overflow:hidden;
    position: relative;
    max-width: 350px;
}

.video-container iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: relative;
} */

.angular-tutorial-list {
    max-width: 800px;
    min-height: 80vh;
}