.nav-bar {
    background-color: #fff;
}

.nav-bar-lrg {
    display: none;
}

.navbar-container {
    max-width: 2500px;
}

.logo h1 {
    font-size: 1.8em;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: .2em;
}

.menu {
    font-size: 2em;
}

.drop-down-menu {
    background-color: #fff;
    margin-top: 50px;
    height: 95%;
}

.drop-down-menu span {
    font-size: 1.5em;
}

.drop-down-menu i {
    font-size: 2em;
    float: right;
}

.contact-button {
    color: #fff;
    background-color: #666666;
}

.social-links {
    padding: 3em 0px;
}

.resume-button {
    background-color: #CD5334;
    color: #fff;
}

.link-name {
    max-width: 500px;
    margin: 0px auto;
}

@media only screen and (min-width: 1025px) {
    .nav-bar {
        display: none;
    }

    .nav-bar-lrg {
        display: flex;
    }

    .nav-links {
        font-size: 20px;
    }

    .nav-links div {
        padding: .5em;
    }

    .nav-links div:hover {
        cursor: pointer;
        background-color: #CD5334;
        color: #fff;
    }

    .logo h1 {
        margin-top: 0px;
    }

    .more-items {
        position: absolute;
        color: #fff;
        background-color: #CD5334;
        top: 50px;
        /* right: 20%; */
        padding: 0px !important;
    }

    .more-items li {
        background-color: #CD5334;
    }

    .more-items li:hover {
        background-color: #fff;
        color: #CD5334;
        cursor: pointer;
    }
}

/* @media only screen and (min-width: 1366px) {
    .more-items {
        right: 22%;
    }
} */