<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top px-md-5">
    <a class="navbar-brand" href="#" routerLink="/">Web Developer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active" routerLink="/" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLink="/covid" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link">Covid-19</a>
            </li>
            <li class="nav-item" routerLink="/contact" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="openFile()" data-toggle="collapse"
                    data-target="#navbarNavDropdown">Resume</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Web Apps
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item bg-dark text-light" routerLink="/blogs" data-toggle="collapse"
                        data-target="#navbarNavDropdown">Blog</a>
                    <a class="dropdown-item bg-dark text-light" routerLink="/todo" data-toggle="collapse"
                        data-target="#navbarNavDropdown">To-Do</a>
                </div>
            </li>
            <li class="nav-item" *ngIf="!user" (click)="signIn()" (click)="toggleMenu()">
                <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown">Sign In</a>
            </li>
            <li class="nav-item" *ngIf="user" (click)="signOut()" (click)="toggleMenu()">
                <a class="nav-link" data-toggle="collapse" data-target="#navbarNavDropdown">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- <section class="nav-bar p-2">
    <section class="navbar-container container d-flex flex-row">
        <div class="logo flex-grow-1">
            <h1>Web Developer</h1>
        </div>
        <div class="menu">
            <i class="fas fa-bars font-weight-bold" (click)="toggleMenu()" *ngIf="!openMenu"></i>
            <i class="fas fa-times font-weight-bold" (click)="toggleMenu()" *ngIf="openMenu"></i>
        </div>
    </section>
    <div class="drop-down-menu fixed-top d-flex flex-column" *ngIf="openMenu">
        <div class="links d-flex flex-column">
            <div class="d-flex flex-row justify-content-between p-3">
                <h1>Web Developer</h1>
                <i class="fas fa-times font-weight-bold" (click)="toggleMenu()" *ngIf="openMenu"></i>
            </div>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item d-flex" routerLink="/" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Home</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li> -->
<!-- <li class="list-group-item d-flex" (click)="toggleMore('projects')">
                    <div class="link-name flex-grow-1">
                        <span>Projects</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-down" *ngIf="!projects"></i>
                        <i class="fas fa-angle-up" *ngIf="projects"></i>
                    </div>
                </li>
                <div class="more-items" *ngIf="projects">
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item">
                            Angular
                        </li>
                        <li class="list-group-item">
                            React
                        </li>
                        <li class="list-group-item">
                            .Net Core
                        </li>
                        <li class="list-group-item">
                            NativeScripts
                        </li>
                    </ul>
                </div> -->
<!-- <li class="list-group-item d-flex" (click)="toggleMore('projects')">
                    <div class="link-name flex-grow-1">
                        <span>Web Apps</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-down" *ngIf="!projects"></i>
                        <i class="fas fa-angle-up" *ngIf="projects"></i>
                    </div>
                </li>
                <div class="more-items" *ngIf="projects">
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item" routerLink="/todo" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            To-Do
                        </li>
                        <li class="list-group-item" routerLink="/crm" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            CRM
                        </li>
                        <li class="list-group-item" routerLink="/events" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            Events
                        </li>
                        <li class="list-group-item" routerLink="/scores" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            Scores
                        </li>
                        <li class="list-group-item" routerLink="/blogs" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            Blogs
                        </li>
                    </ul>
                </div>
                <li class="list-group-item d-flex" (click)="toggleMore('tutorials')">
                    <div class="link-name flex-grow-1">
                        <span>Tutorials</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-down" *ngIf="!tutorials"></i>
                        <i class="fas fa-angle-up" *ngIf="tutorials"></i>
                    </div>
                </li>
                <div class="more-items" *ngIf="tutorials">
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item" routerLink="/angularTutorials" (click)="toggleMenu()" (click)="toggleMore('tutorials')">
                            Angular
                        </li>
                    </ul>
                </div>
                <li class="list-group-item d-flex" routerLink="/covid" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Covid-19</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex contact-button" routerLink="/contact" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Contact Me</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex social-links">
                    <div class="link-name flex-grow-1">
                        <span class="d-flex justify-content-around">
                            <a href="https://www.github.com/bowen227" target="_blank">
                                <i class="fab fa-github-square"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/brent-owen-b5b46531" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="https://www.facebook.com/Brent.e.owen" target="_blank">
                               <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="https://www.twitter.com/brenteowen1" target="_blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </span>
                    </div>
                </li>
                <li class="list-group-item d-flex resume-button" (click)="openFile()">
                    <div class="link-name flex-grow-1">
                        <span>Resume</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex contact-button" *ngIf="!user" (click)="signIn()" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Sign In</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex contact-button" *ngIf="user" (click)="signOut()" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Sign Out</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="nav-bar-lrg">
    <section class="navbar-container container d-flex flex-row align-items-center">
        <div class="logo flex-grow-1">
            <h1 class="ml-2">Chattanooga Web Developer</h1>
        </div>
        <div class="nav-links d-flex flex-row justify-content-around">
            <div routerLink="/">Home</div>
            <div class="d-flex flex-column justify-content-center align-items-center" (click)="toggleMore('projects')">Web Apps
                <div class="more-items" *ngIf="projects">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" routerLink="todo">
                            To-Do
                        </li>
                        <li class="list-group-item" routerLink="crm">
                            CRM
                        </li>
                        <li class="list-group-item" routerLink="events">
                            Events
                        </li>
                        <li class="list-group-item" routerLink="scores">
                            Scores
                        </li>
                        <li class="list-group-item" routerLink="blogs">
                            Blogs
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center" (click)="toggleMore('tutorials')">Tutorials
                <div class="more-items" *ngIf="tutorials">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" routerLink="angularTutorials">
                            Angular
                        </li>
                    </ul>
                </div>
            </div>
            <div routerLink="/covid">Covid-19</div>
            <div routerLink="/contact">Contact Me</div>
            <div (click)="openFile()">Resume</div>
            <div *ngIf="!user" (click)="signIn()">Sign In</div>
            <div *ngIf="user" (click)="signOut()">Sign Out</div>
        </div>
    </section>
</section> -->