<section class="nav-bar p-2">
    <section class="navbar-container container d-flex flex-row">
        <div class="logo flex-grow-1">
            <h1>Web Developer</h1>
        </div>
        <div class="menu">
            <i class="fas fa-bars font-weight-bold" (click)="toggleMenu()" *ngIf="!openMenu"></i>
            <i class="fas fa-times font-weight-bold" (click)="toggleMenu()" *ngIf="openMenu"></i>
        </div>
    </section>
    <div class="drop-down-menu d-flex flex-column" *ngIf="openMenu">
        <div class="links d-flex flex-column">
            <div class="d-flex flex-row justify-content-between p-3">
                <h1>Web Developer</h1>
                <i class="fas fa-times font-weight-bold" (click)="toggleMenu()" *ngIf="openMenu"></i>
            </div>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item d-flex" routerLink="/" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Home</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex" (click)="toggleMore('projects')">
                    <div class="link-name flex-grow-1">
                        <span>Web Apps</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-down" *ngIf="!projects"></i>
                        <i class="fas fa-angle-up" *ngIf="projects"></i>
                    </div>
                </li>
                <div class="more-items" *ngIf="projects">
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item" routerLink="/todo" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            To-Do
                        </li>
                        <li class="list-group-item" routerLink="/crm" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            CRM
                        </li>
                        <li class="list-group-item" routerLink="/events" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            Events
                        </li>
                        <li class="list-group-item" routerLink="/scores" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            Scores
                        </li>
                        <li class="list-group-item" routerLink="/blogs" (click)="toggleMenu()" (click)="toggleMore('projects')">
                            Blogs
                        </li>
                    </ul>
                </div>
                <li class="list-group-item d-flex" (click)="toggleMore('tutorials')">
                    <div class="link-name flex-grow-1">
                        <span>Tutorials</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-down" *ngIf="!tutorials"></i>
                        <i class="fas fa-angle-up" *ngIf="tutorials"></i>
                    </div>
                </li>
                <div class="more-items" *ngIf="tutorials">
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item" routerLink="/angularTutorials" (click)="toggleMenu()" (click)="toggleMore('tutorials')">
                            Angular
                        </li>
                    </ul>
                </div>
                <li class="list-group-item d-flex" routerLink="/covid" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Covid-19</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex contact-button" routerLink="/contact" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Contact Me</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex social-links">
                    <div class="link-name flex-grow-1">
                        <span class="d-flex justify-content-around">
                            <a href="https://www.github.com/bowen227" target="_blank">
                                <i class="fab fa-github-square"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/brent-owen-b5b46531" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="https://www.facebook.com/Brent.e.owen" target="_blank">
                               <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="https://www.twitter.com/brenteowen1" target="_blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </span>
                    </div>
                </li>
                <li class="list-group-item d-flex resume-button" (click)="openFile()">
                    <div class="link-name flex-grow-1">
                        <span>Resume</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex contact-button" *ngIf="!user" (click)="signIn()" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Sign In</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
                <li class="list-group-item d-flex contact-button" *ngIf="user" (click)="signOut()" (click)="toggleMenu()">
                    <div class="link-name flex-grow-1">
                        <span>Sign Out</span>
                    </div>
                    <div class="more-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="nav-bar-lrg">
    <section class="navbar-container container d-flex flex-row align-items-center">
        <div class="logo flex-grow-1">
            <h1 class="ml-2">Chattanooga Web Developer</h1>
        </div>
        <div class="nav-links d-flex flex-row justify-content-around">
            <div routerLink="/">Home</div>
            <div class="d-flex flex-column justify-content-center align-items-center" (click)="toggleMore('projects')">Web Apps
                <div class="more-items" *ngIf="projects">
                    <ul class="list-group list-group-flush d-flex flex-row">
                        <li class="list-group-item" routerLink="todo">
                            To-Do
                        </li>
                        <li class="list-group-item" routerLink="crm">
                            CRM
                        </li>
                        <li class="list-group-item" routerLink="events">
                            Events
                        </li>
                        <li class="list-group-item" routerLink="scores">
                            Scores
                        </li>
                        <li class="list-group-item" routerLink="blogs">
                            Blogs
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center" (click)="toggleMore('tutorials')">Tutorials
                <div class="more-items" *ngIf="tutorials">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" routerLink="angularTutorials">
                            Angular
                        </li>
                    </ul>
                </div>
            </div>
            <div routerLink="/covid">Covid-19</div>
            <div routerLink="/contact">Contact Me</div>
            <div (click)="openFile()">Resume</div>
            <div *ngIf="!user" (click)="signIn()">Sign In</div>
            <div *ngIf="user" (click)="signOut()">Sign Out</div>
        </div>
    </section>
</section>
