.graph-container h2 {
    background-color: #666666;
    color: #fff;
}

@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px;
    }
}