<section class="details-container">
    <h2 class="p-3"><i class="fas fa-tasks mr-2"></i>Details</h2>
    <h3 class="p-2" routerLink="/crm"><i class="far fa-arrow-alt-circle-left mr-2"></i>Back To Companies</h3>
    <div class="company p-3">
        <div class="company-name">
            <h4>{{ company.companyName }}</h4>
            <div>
                <p>{{ company.street }}</p>
                <div class="d-flex flex-row">
                    <p>{{ company.city }},</p>
                    <p class="ml-1">{{ company.state }}</p>
                    <p class="ml-3">{{ company.zip }}</p>
                </div>
            </div>
            <div class="company-details d-flex flex-row">
                <p class="mr-3" *ngIf="company.phone.length > 3">P: ({{ company.phone | slice:0:3 }}) {{ company.phone | slice:3:6 }}-{{ company.phone | slice:6:10 }}</p>
                <p *ngIf="company.fax.length > 3">F: ({{ company.fax | slice:0:3 }}) {{ company.fax | slice:3:6 }}-{{ company.fax | slice:6:10 }}</p>
            </div>
        </div>
    </div>
    <div class="contacts-container">
        <h3 class="ml-4 mt-3">Contacts<i class="fas fa-plus-square ml-3" (click)="showForm('new')"></i></h3>
        <div class="spinner-border text-danger" *ngIf="isLoading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="no-contacts ml-4" *ngIf="contacts.length == 0 && !isLoading">
            <p>You haven't added any Contacts</p>
        </div>
        <ul class="list-group list-group-flush" *ngIf="contacts.length > 0 && !isLoading">
            <li class="list-group-item" *ngFor="let c of contacts; let i = index;">
                <div class="d-flex flex-row align-items-center">
                    <span class="flex-grow-1 mt-1 task">{{ c.firstName }} {{ c.lastName }}</span>
                    <span class="mt-1 contact-phone" *ngIf="c.phone.length > 4">({{ c.phone | slice:0:3 }}) {{ c.phone | slice:3:6 }}-{{ c.phone | slice:6:10 }}</span>
                    <i class="far fa-edit m-2" (click)="showForm(c.id)"></i>
                    <i class="far fa-trash-alt m-2" (click)="deleteContact(c.id)"></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="edit-form-container d-flex flex-column justify-content-center align-items-center" *ngIf="showNewContactForm || showEditContactForm">
        <div class="edit-form">
            <h3 class="ml-4 mt-3">{{ showNewContactForm ? "New Contact" : "Edit Contact"}}</h3>
            <form class="container d-flex flex-column justify-content-around" [formGroup]="contactForm" (ngSubmit)="addContact()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" formControlName="phone" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>
    <div class="task-container p-2">
        <h3 class="ml-4 mt-3">Tasks<i class="fas fa-plus-square ml-3" (click)="showTaskForm('new')"></i></h3>
        <div class="spinner-border text-danger" *ngIf="isLoading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="no-contacts ml-4" *ngIf="tasks.length == 0 && !isLoading">
            <p>You haven't added any Tasks</p>
        </div>
        <ul class="list-group list-group-flush" *ngIf="tasks.length > 0">
            <li class="list-group-item" *ngFor="let t of tasks; let i = index;">
                <div class="d-flex flex-row align-items-center">
                    <input type="checkbox" class="checkbox mr-2" (click)="completeTask(t, i)">
                    <span class="flex-grow-1 mt-1 task">{{ t.task }}</span>
                    <i class="far fa-edit m-2" (click)="showTaskForm(t.id)"></i>
                    <i class="far fa-trash-alt m-2" (click)="deleteTask(t.id)"></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="task-container p-2" *ngIf="completedTasks.length > 0">
        <h3 class="ml-4 mt-3">Completed</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let c of completedTasks; let i = index;">
                {{ c.task }}
            </li>
        </ul>
    </div>
    <div class="task-form-container d-flex flex-column justify-content-center align-items-center" *ngIf="showNewTaskForm || showEditTaskForm">
        <div class="task-form">
            <h3 class="ml-4 mt-3">{{ showNewTaskForm ? "New Task" : "Edit Task"}}</h3>
            <form class="container d-flex flex-column justify-content-around" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="task">Task</label>
                    <input type="text" class="form-control" formControlName="task" required>
                </div>
                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>
</section>
