.login-container {
    height: 82vh;
}

h2 {
    background-color: #666666;
    color: #fff;
}

.button-container {
    height: 80%;
    max-width: 450px;
    margin: 0px auto;
    padding: 1em;
}

.signout-button {
    background-color: #CD5334;
    color: #fff;
}