<section class="todo-container">
    <h2 class="p-3"><i class="fas fa-clipboard-check mr-2"></i>To-Do App</h2>
    <h3 class="ml-3" *ngIf="user != null">Welcome, {{ user.name }}</h3>
    <div class="form-container">
        <h3 class="ml-4 mt-3">Add To-Do Group</h3>
        <form class="container d-flex flex-row justify-content-around align-items-center" [formGroup]="groupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="groupName">Group Name</label>
                <input type="text" class="form-control" formControlName="groupName">
            </div>
            <button type="submit" class="btn" [disabled]="!groupForm.value.groupName">Submit</button>
        </form>
    </div>
    <div class="todo-groups-container p-5">
        <h3>Groups</h3>
        <h5 *ngIf="todoGroups.length == 0 && !loadingGroups">You haven't created any groups!</h5>
        <div class="spinner-border text-danger" *ngIf="loadingGroups" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <ul class="list-group list-group-flush" *ngIf="todoGroups.length > 0 && !loadingGroups">
            <li class="list-group-item" *ngFor="let todo of todoGroups; let i = index;">
                <div class="d-flex flex-row">
                    <span class="flex-grow-1 mt-1 group" [routerLink]="['/todoList', todo.groupName]">{{ todo.groupName }}</span>
                    <i class="far fa-edit m-2" (click)="edit(todo.id, todo.groupName, i)"></i>
                    <i class="far fa-trash-alt m-2" (click)="delete(todo.id, i, todo.groupName)"></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="popup-bottom-container d-flex flex-column justify-content-center align-items-center" *ngIf="user == null && !popup">
        <!-- <div class="arrow">
            <i class="fas fa-location-arrow"></i>
        </div> -->
        <div class="popup-container p-3 d-flex flex-column" *ngIf="user == null">
            <!-- <i class="fas fa-times font-weight-bold align-self-end" (click)="togglePopup()"></i> -->
            <div>
                <h3>You're not signed in!</h3>
                <p>If you'd like to save your groups please sign in. Otherwise, your groups will not be saved when you leave this page.</p>
                <button class="btn" (click)="togglePopup()">Close</button>
            </div>
        </div>
    </div>
    <!-- <div class="popup-bottom-container d-flex flex-column justify-content-center align-items-center" *ngIf="user != null && popup">
        <div class="popup-container p-2 d-flex flex-column">
            <i class="fas fa-times font-weight-bold align-self-end" (click)="togglePopup()"></i>
            <div>
                <h3>You're signed in!</h3>
                <p>Backend has been implemented. There still may be errors.</p>
            </div>
        </div>
    </div> -->
</section>
