.form-container {
    max-width: 500px;
    margin: 0px auto;
}

.back {
    border: 1px solid #CD5334;
    width: 137px;
}

.back:hover {
    cursor: pointer;
}

.todo-list-container {
    max-width: 700px;
    margin: 0px auto;
}

.completed-list-container {
    max-width: 700px;
    margin: 0px auto;
}

h2 {
    background-color: #666666;
    color: #fff;
}

button {
    background-color: #CD5334;
    color: #fff;
    margin-top: 15px;
}

ul {
    list-style-type: none;
}

.todo input:hover, .todo i:hover {
    cursor: pointer;
}

.checkbox {
    width: 25px;
    height: 25px;
}