<section class="todo-container">
    <h2 class="p-2"><i class="fas fa-list-ul mr-2"></i>To-Do List</h2>
    <h3 class="p-2" routerLink="/todo"><i class="far fa-arrow-alt-circle-left mr-2"></i>Back To Groups</h3>
    <div class="form-container">
        <h3 class="ml-4 mt-3">Add To-Do To "{{ group }}"</h3>
        <form class="container d-flex flex-row justify-content-around align-items-center" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="groupName">Todo Name</label>
                <input type="text" class="form-control" formControlName="todoItem">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <div class="todo-list-container p-5">
        <h3>Todo</h3>
        <h5 *ngIf="todoItems.length == 0">You haven't added any To-Do items!</h5>
        <div class="spinner-border text-danger" *ngIf="loadingTodos" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <ul class="list-group list-group-flush" *ngIf="todoItems.length > 0">
            <li class="list-group-item" *ngFor="let item of todoItems; let i = index;">
                <div class="d-flex flex-row align-items-center">
                    <input type="checkbox" class="checkbox mr-2" (click)="completeTodo(item, i)">
                    <span class="flex-grow-1 mt-1">{{ item.todo }}</span>
                    <i class="far fa-edit m-2" (click)="edit(item, i)"></i>
                    <i class="far fa-trash-alt m-2" (click)="delete(item.id, i)"></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="completed-list-container p-5">
        <h3>Completed</h3>
        <h5 *ngIf="completedTodos.length == 0">You haven't completed any To-Do's!</h5>
        <ul class="list-group list-group-flush" *ngIf="completedTodos.length > 0">
            <li class="list-group-item" *ngFor="let item of completedTodos; let i = index;">
                {{ item.todo }}
            </li>
        </ul>
    </div>
</section>
