h2 {
    background-color: #666666;
    color: #fff;
}

img {
    width: 100%;
}

button {
    background-color: #CD5334;
    color: #fff;
    margin-top: 15px;
}

.cancelBtn {
    background-color: transparent;
    color: #CD5334;
}

.cancelBtn:hover {
    background-color: rgba(119, 136, 153, 0.466);
}

.body-container {
    margin: 0px auto;
    width: 100%;
}

.body-container i {
    float: right;
    font-size: 22px;
}

.body-post {
    width: 100%;
}

:host ::ng-deep .post-image {
    max-width: 200px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
    .body-container {
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    .body-container {
        margin: 0px auto;
        width: 50%;
    }
}