<section class="">
    <h3 class="p-2" routerLink="/blogs"><i class="far fa-arrow-alt-circle-left mr-2"></i>Back To Blogs</h3>
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <span class="btn btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Create new post
              </span>
            </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-container">
                        <input type="file" name="file" id="file" (change)="upload($event)">
                        <div class="progress" style="height: 10px;" [hidden]="!uploadPerc">
                            <progress max="100" [value]="(uploadPerc | async)"></progress>
                        </div>
                        <div class="spinner-border text-danger" *ngIf="loadingImage" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div [hidden]="!image" class="mb-2">
                            <img [src]="image || '//:0'">
                        </div>
                        <input class="form-control mb-2" type="text" placeholder="Title" [(ngModel)]="title">
                        <!-- <textarea class="form-control" name="body" cols="30" rows="10" [(ngModel)]="body"></textarea> -->
                        <div [formGroup]="bodyForm">
                            <div formArrayName="para">
                                <div *ngFor="let body of body.controls; let i = index" [formGroupName]="i">
                                    <textarea class="form-control" formControlName="body" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn m-1" (click)="addParagraph()">Add New Paragraph</button>
                        <button class="btn m-1" (click)="createNewPost()" [disabled]="!title">Create Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
