<section class="home-main-container">
    <section class="home-container-heading p-3">
        <div class="heading-container">
            <h1>Hi, I'm Brent Owen a Full-Stack Developer</h1>
            <p class="mt-4">
                <!-- I've always had a fondness for solving problems and overcoming challenges. 
                I enjoy working within a team and working together to acheive our goals. 
                Communication, flexability and attention to detail are top priority. -->
                I'm a freelance developer located in Chattanooga, Tn and a full time sales
                representative for the largest DME in the country.
            </p>
            <button class="call-to-action px-5 py-3 mt-4" routerLink="/contact">
                Let's Make Something
            </button>
            <div class="background-image mt-4"></div>
        </div>
    </section>
    <section class="about-container mb-5">
        <div class="about-inner-container">
            <div class="flex-container d-flex flex-wrap">
                <div class="left-container">
                    <h3 class="mt-5"><i class="fas fa-user mr-2"></i>About Me</h3>
                    <p>
                        I love programming, traveling, lifting weights and hanging with my wife and kids.
                        While I have spent most my life working in the DME field, since 2002, I've always
                        had a passion for programming and spend most my free time developing and learning new
                        skills. I've worked on several projects mostly custom code for platforms like
                        Wordpress, Real Geeks, and Brillant Directories. However, my real passion is to
                        build real world web applications and take the leap to full time developer.
                    </p>
                </div>
                <div class="right-container my-5">
                    <h3><i class="fas fa-leaf mr-2"></i>Hobbies</h3>
                    <div class="hobbies-container d-flex flex-row justify-content-center flex-wrap">
                        <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                            <i class="fas fa-laptop-code mt-3"></i>
                            <p>Coding</p>
                        </div>
                        <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                            <i class="fas fa-dumbbell mt-3"></i>
                            <p>Lifting</p>
                        </div>
                        <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                            <i class="fas fa-plane mt-3"></i>
                            <p>Traveling</p>
                        </div>
                        <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                            <i class="fas fa-music mt-3"></i>
                            <p>Music</p>
                        </div>
                        <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                            <i class="fas fa-truck-monster mt-3"></i>
                            <p>Off Road</p>
                        </div>
                        <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                            <i class="fas fa-headset mt-3"></i>
                            <p>Gaming</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills-container d-flex flex-column">
                <h3 class="mt-5"><i class="fas fa-code mr-2"></i>Engineering Skills</h3>
                <p>
                    <strong>I specialize in applications built with Angular and ASP.Net Core.</strong>
                    <!-- Recently I've developed a Rest API using .Net Core and currently building out
                    the frontend using <span>Angular</span> and <span>TypeScript</span>. -->
                </p>
                <p>
                    I have custom built and written every line of code for this website. Including
                    the API which is hosted on Azure.
                </p>
                <p>Technologies used include:</p>
                <ul>
                    <li>Angular: TypeScript / JavaScript</li>
                    <li>ASP.Net Core: C#</li>
                    <li>Azure to host ASP.Net Core web apps</li>
                    <li>Ng2-Charts / Chart.js used for the COVID graphs</li>
                    <li>EmailJS for the contact form</li>
                    <li>Google Auth to sign in to the dashboard</li>
                    <li>REST API's for the COVID data</li>
                    <li>GIMP</li>
                    <li>Bootstrap, FontAwesome and Google Fonts</li>
                    <li>HTML and CSS</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="what-to-expect d-flex flex-column justify-content-center align-items-center mb-5">
        <div class="what-heading-container">
            <h3 class="mt-5"><i class="fas fa-chalkboard mr-2"></i>What To Expect</h3>
        </div>
        <div class="what-inner-container d-flex flex-row justify-content-around flex-wrap p-3">
            <div class="tri-container mx-4">
                <h4>Self Starter</h4>
                <p>
                    I am extremely motivated and ambitious. <span>I have drive, passion, and the will to succeed.</span> This has lead me to
                    a very successful career in sales. It has also lead me to fall in love with programming which is why i'm
                    aligning myself to change careers all together and follow my passion.
                </p>
            </div>
            <div class="tri-container mx-4">
                <h4>Communication</h4>
                <p>
                    The most important thing that sales has taught me is that communication is everything. 
                    <span>Communication is the key to success</span> in any field and I make it a priority to develop everyday as a better communicator. Communication
                    is critical whether verbal or non-verbal in getting things done.
                </p>
            </div>
            <div class="tri-container mx-4">
                <h4>Flexability</h4>
                <p>
                    <span>Not only being responsive to change but adapting quickly</span> is something that i've learned over the years.
                    In an ever changing field, as DME, it has taught me this many times over. It's crucial to remain flexible especially
                    in regards to competing with other providers and will lead to many successes.
                </p>
            </div>
        </div>
    </section>
</section>