<section class="home-main-container">
    <!-- <section class="home-container-heading p-3">
        <div class="heading-container">
            <h1>Hi, I'm Brent Owen a Full-Stack Developer</h1>
            <p class="mt-4"> -->
                <!-- I've always had a fondness for solving problems and overcoming challenges. 
                I enjoy working within a team and working together to acheive our goals. 
                Communication, flexability and attention to detail are top priority. -->
                <!-- I'm a freelance developer located in Chattanooga, Tn and a full time sales
                representative for the largest DME in the country.
            </p>
            <button class="call-to-action px-5 py-3 mt-4" routerLink="/contact">
                Let's Make Something
            </button>
            <div class="background-image mt-4"></div>
        </div>
    </section> -->

    <section class="bg-dark pt-5">
        <div class="pt-5"></div>
        <div class="pt-md-5"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-light">Hi, I'm Brent Owen a Software Developer</h1>
                    <p class="text-light">
                        I'm a freelance developer located in Chattanooga, TN.
                    </p>
                    <button class="btn btn-outline-light" routerLink="/contact">Let's Make Something</button>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <img src="../../assets/family.jpg" class="hero-img" alt="Image of Brent Owen, his wife and two kids">
                </div>
            </div>
        </div>
        <div class="pb-5"></div>
        <div class="pb-5"></div>
    </section>
    <div class="clipped-container bg-dark"></div>
    <section class="about-container mb-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6 my-2">
                    <div class="p-4 shadow">
                        <h3><i class="fas fa-user mr-2"></i>About Me</h3>
                        <div class="container">
                            <p>
                                I love programming, traveling, lifting weights and hanging with my wife and kids.
                                While I have spent most my life working in the DME field, since 2002, I've always
                                had a passion for programming and spend most my free time developing and learning new
                                skills. I've worked on several projects mostly custom code for platforms like
                                Wordpress, Real Geeks, and Brillant Directories. However, my real passion is to
                                build real world web applications and take the leap to full time developer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 my-2">
                    <div class="p-4 shadow ">
                        <h3><i class="fas fa-leaf mr-2"></i>Hobbies</h3>
                        <div class="container d-flex flex-row justify-content-center flex-wrap">
                            <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                                <i class="fas fa-laptop-code mt-3"></i>
                                <p>Coding</p>
                            </div>
                            <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                                <i class="fas fa-dumbbell mt-3"></i>
                                <p>Lifting</p>
                            </div>
                            <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                                <i class="fas fa-plane mt-3"></i>
                                <p>Traveling</p>
                            </div>
                            <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                                <i class="fas fa-music mt-3"></i>
                                <p>Music</p>
                            </div>
                            <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                                <i class="fas fa-truck-monster mt-3"></i>
                                <p>Off Road</p>
                            </div>
                            <div class="hobby d-flex flex-column justify-content-center align-items-center m-2">
                                <i class="fas fa-headset mt-3"></i>
                                <p>Gaming</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="p-md-5"></div>

    <section class="container skills">
        <h3><i id="skill-heading" class="fas fa-chart-line mr-2"></i>Skills</h3>
        <div class="row p-3 justify-content-center">
            <i class="skill fab fa-html5"></i>
            <i class="skill fab fa-css3-alt"></i>
            <i class="skill fab fa-sass"></i>
            <i class="skill fab fa-bootstrap"></i>
            <i class="skill fab fa-js"></i>
            <i class="skill fab fa-angular"></i>
            <i class="skill fab fa-react"></i>
            <i class="skill fab fa-node-js"></i>
            <i class="skill fab fa-git"></i>
            <i class="skill fas fa-database"></i>
        </div>
    </section>

    <div class="p-5"></div>

    <section class="container projects pb-4">
        <h3><i id="skill-heading" class="fas fa-project-diagram mr-2"></i>Projects</h3>
        <div class="row">
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/ppi-1.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">PPI</h5>
                        <p class="card-text">
                            A web app developed to help coaches and associations evaluate players to create balanced teams.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/js-apps.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Web Apps</h5>
                        <p class="card-text">
                            Small web apps covering JavaScript concepts which displays the code and the result.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/deco-2.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Market Place</h5>
                        <p class="card-text">
                            Created landing page from PDF and assets. Responsive design using Flex-Box.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/deco-1.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Landing Page</h5>
                        <p class="card-text">
                            Created landing page from PDF and assets. Responsive design using Flex-Box.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/holden-1.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Custom Element</h5>
                        <p class="card-text">
                            Custom markup to be used on multiple Real Geeks sites. Card layout with hover effects.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/holden-2.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Custom Element</h5>
                        <p class="card-text">
                            Custom three item carousel to be used on multiple Real Geeks sites.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/how-it-works-1.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Landing Page</h5>
                        <p class="card-text">
                            Created landing page from PDF and assets. Responsive design using Flex-Box.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/porrada-1.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Landing Page</h5>
                        <p class="card-text">
                            Create landing page from PDF and assets. Responsive design using Flex-Box.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="img-container">
                        <img src="../../assets/nucamp-1.png" alt="" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Website</h5>
                        <p class="card-text">
                            Complete website using responsive design and accessability best practices.
                        </p>
                    </div>
                </div>
            </div>
    </section>

    <div class="p-5"></div>
    <!-- <section class="what-to-expect d-flex flex-column justify-content-center align-items-center mb-5">
        <div class="what-heading-container">
            <h3 class="mt-5"><i class="fas fa-chalkboard mr-2"></i>What To Expect</h3>
        </div>
        <div class="what-inner-container d-flex flex-row justify-content-around flex-wrap p-3">
            <div class="tri-container mx-4">
                <h4>Self Starter</h4>
                <p>
                    I am extremely motivated and ambitious. <span>I have drive, passion, and the will to succeed.</span> This has lead me to
                    a very successful career in sales. It has also lead me to fall in love with programming which is why i'm
                    aligning myself to change careers all together and follow my passion.
                </p>
            </div>
            <div class="tri-container mx-4">
                <h4>Communication</h4>
                <p>
                    The most important thing that sales has taught me is that communication is everything. 
                    <span>Communication is the key to success</span> in any field and I make it a priority to develop everyday as a better communicator. Communication
                    is critical whether verbal or non-verbal in getting things done.
                </p>
            </div>
            <div class="tri-container mx-4">
                <h4>Flexability</h4>
                <p>
                    <span>Not only being responsive to change but adapting quickly</span> is something that i've learned over the years.
                    In an ever changing field, as DME, it has taught me this many times over. It's crucial to remain flexible especially
                    in regards to competing with other providers and will lead to many successes.
                </p>
            </div>
        </div>
    </section> -->
</section>