.hero-img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 0px;
}

.clipped-container {
    clip-path: polygon(0 0, 100% 0, 100% 43%, 0% 100%);
    height: 300px;
    width: 100%;
    position: absolute;
}

.about-container {
    position: relative;
}

.shadow {
    background-color: #fff;
}

.hobby {
    width: 100px;
    height: 100px;
    font-size: 16px;
    background-color: #CD5334;
    color: #fff;
}


#skill-heading {
    font-size: 2.3 !important;
}

.skill {
    font-size: 5rem;
    padding: .6em;
}

.card {
    max-width: 350px;
    max-height: 500px;
    margin: .5em;
    transition: transform .2s;
}

.img-container {
    overflow: hidden;
}

.card img {
    height: 195px;
}

.card img:hover {
    transform: scale(1.5);
}


@media only screen and (min-width: 768px) {
    .hero-img {
        width: 80%;
    }
}

@media only screen and (max-width: 380px) {
    .hero-img {
        width: 100%;
        margin-top: 2.5em;
    }
}