h2 {
    background-color: #666666;
    color: #fff;
}

.company {
    max-width: 500px;
    margin: 0px auto;
}

.company-name p {
    margin-bottom: 0px;
}

.contacts-container {
    max-width: 500px;
    margin: 0px auto;
}

.contacts-container i:hover {
    cursor: pointer;
}

.fa-plus-square {
    color: #CD5334;
}

.fa-plus-square:hover {
    cursor: pointer;
}

.contact-phone {
    min-width: 125px;
}

.contact-more-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-form-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.edit-form {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    width: 100%;
    padding-bottom: 1em;
    max-width: 500px;
}

.task-form-container {
    max-width: 400px;
    margin: 0px auto;
}

.task-container {
    max-width: 500px;
    margin: 0px auto;
}

.task:hover {
    cursor: pointer;
}

.task-container i:hover {
    cursor: pointer;
}

.checkbox {
    width: 25px;
    height: 25px;
}

button {
    background-color: #CD5334;
    color: #fff;
    margin-top: 15px;
}

@media only screen and (min-width: 768px) {
    .contact {
        flex-direction: row;
        justify-content: space-evenly;
    }
}