h2 {
    background-color: #666666;
    color: #fff;
}

.contact {
    max-width: 500px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.task-form-container {
    max-width: 400px;
    margin: 0px auto;
}

.task-container {
    max-width: 500px;
    margin: 0px auto;
}

.task:hover {
    cursor: pointer;
}

.task-container i:hover {
    cursor: pointer;
}

.checkbox {
    width: 25px;
    height: 25px;
}

button {
    background-color: #CD5334;
    color: #fff;
    margin-top: 15px;
}

@media only screen and (min-width: 768px) {
    .contact {
        flex-direction: row;
        justify-content: space-evenly;
    }
}